/*  HELP SECTION */

.help-section-image {
  margin: 0 auto 20px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.help-section {
  background-color: #F9F9F9;
}

#help-section-wave {
  height: 150px;
  overflow: hidden;
}

#help-section-wave svg path{
  stroke: none;
  fill: #F9F9F9;
}
